<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../styles.css" />
    <script src="../header-mod.js"></script>
    <script src="../profile.js"></script>
</head>
<body>
    <header>
        <a href="../login.html" class="authlink" id="header-login">Login</a>
        <a href="../signup.html" class="authlink" id="header-signup">Signup</a>
        <h1>
            Pokemon Gallery
        </h1>
    </header>
    <nav>
        <a href="../index.html" class="navlink">Home</a>
        <a href="../search.html" class="navlink">Search</a>
        <a href="../timeline.html" class="navlink">Timeline</a>
    </nav>
    <article>
        <h2 id="profile-name"><%= username %></h2>
        <div id="profile-pane">
            <div>
                <h3>Cart</h3>
                <div id="cart-container">
                    <!-- Current orders go here -->
                    <div class="cart-card">
                        <p>Paimon x3</p>
                        <p>$0.69</p>
                    </div>
                    <div class="cart-card">
                        <p>Type 90 x1</p>
                        <p>$4.20</p>
                    </div>
                    <div class="cart-card">
                        <p>Type 74 x4</p>
                        <p>$1.40</p>
                    </div>
                </div>
                <hr />
                <div class="cart-card">
                    <p>Subtotal</p>
                    <p id="subtotal">$1.40</p>
                </div>
                <div class="cart-card">
                    <p>Tax 12%</p>
                    <p id="tax">$1.40</p>
                </div>
                <div class="cart-card large-text">
                    <p>Total</p>
                    <p id="total">$1.40</p>
                </div>
                <input id="checkout" type="button" value="Checkout" />
            </div>
            <div>
                <h3>History</h3>
                <div id="receipt-container">
                    <!-- Previous purchases go here -->
                </div>
            </div>
        </div>
    </article>
    <footer>
        <p>
            &copy;2022 UMP45
        </p>
        <p>
            This website uses the PokeAPI.
        </p>
    </footer>
</body>
</html>