* {
    box-sizing: border-box;
}

.homelink {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: white;
}

.homelink:link {
    background-color: crimson;
}

.homelink:hover {
    background-color: darkred;
}

.homelink:active {
    background-color: red;
}

body {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 5px;
}

header {
    text-align: center;
}

nav {
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
}

footer {
    text-align: center;
}

.navlink {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    display: inline-block;
}

.navlink:hover {
    background-color: grey;
}

.navlink:active {
    background-color: crimson;
}

.poke-card {
    display: grid;
    grid-template-rows: auto auto auto;
}

.poke-card, .history-card {
    padding: 5px;
    border: 2px solid crimson;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.poke-card:hover, .history-card:hover {
    background-color: lightcoral;
}

.poke-card:active, .history-card:active {
    background-color: crimson;
    color: white;
}

.image-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}

.poke-image {
    width: 50%;
    margin: auto;
}

#results-history {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
}

#results {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
}

#history {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

.social_link {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 500px) {
    .image_container {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    .navlink {
        display: block;
    }
}