@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');

* {
    box-sizing: border-box;
    font-family: 'BIZ UDPGothic', sans-serif;
}

.homelink {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: white;
}

.homelink:link {
    background-color: crimson;
}

.homelink:hover {
    background-color: darkred;
}

.homelink:active {
    background-color: red;
}

body {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 5px;
}

header {
    text-align: center;
}

nav {
    background-color: black;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

footer {
    text-align: center;
}

.inline-link {
    color: crimson;
    text-decoration: none;
}

.inline-link:hover {
    color: darkred;
}

.inline-link:active {
    color: red;
}

input[type="text"], input[type="button"], input[type="password"], select {
    border: 2px solid crimson;
    border-radius: 5px;
    background-color: white;
    padding: 2px;
}

input[type="button"]:hover {
    background-color: lightcoral;
}

input[type="text"]:hover, input[type="password"]:hover, select:hover {
    border-color: fuchsia;
}

input[type="button"]:active {
    background-color: crimson;
    color: white;
}

.navlink {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    display: inline-block;
}

.authlink {
    color: white;
    font-size: 8pt;
    text-decoration: none;
    background-color: black;
    padding: 5px;
    float: right;
}

.navlink:hover, .authlink:hover {
    background-color: grey;
}

.navlink:active, .authlink:active {
    background-color: crimson;
}

.poke-card {
    display: grid;
    grid-template-rows: auto auto auto;
}

.history-card {
    display: grid;
    grid-template-columns: 70% 30%;
}

.poke-card, .history-card, .timeline-card {
    border: 2px solid crimson;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.poke-card, .timeline-card {
    padding: 5px;
}

.history-card > div {
    border-radius: 5px;
    padding: 5px;
}

.poke-card:hover, .history-card > div:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.poke-card:active, .history-card > div:active {
    background-color: crimson;
    color: white;
}

.image-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}

.poke-image {
    width: 50%;
    margin: auto;
}

#results-history {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
}

#results {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
}

#history {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

#clear-history, #clear-timeline {
    margin-bottom: 5px;
    width: 100%;
}

#profile-image {
    max-width: 100%;
}

#page-controls {
    margin-bottom: 5px;
}

#timeline-container {
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
}

.social_link {
    width: 50px;
    height: 50px;
}

.red-text {
    color: red;
}

@media screen and (max-width: 500px) {
    body {
        width: 90%;
    }

    nav {
        display: grid;
        grid-template-columns: auto;
    }

    #search-name {
        width: 100%;
        margin-top: 5px;
    }

    #search-filters {
        width: 100%;
    }

    #results-history {
        grid-template-columns: auto;
    }

    #results {
        grid-template-columns: auto auto;
    }

    #filter-options {
        display: grid;
        grid-template-columns: auto;
        gap: 5px;
    }
}